# Mount Google Drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
DATA_PATH = '/content/drive/MyDrive/원티드 프리온보딩/기업과제/과제3/DATA/'

# Load Libraries

In [9]:
import pandas as pd
from scipy.stats import pearsonr
from sklearn.metrics import f1_score

In [10]:
final_df = pd.read_csv(DATA_PATH + '기업과제3_3팀_dev_set_score.csv')
print(final_df.shape)
final_df.head()

(519, 5)

,guid,true_real_label,true_binary_label,predict_real_label,predict_binary_label
0,klue-sts-v1_dev_00000,4.857143,1,4.732127,1
1,klue-sts-v1_dev_00001,1.428571,0,2.009354,0
2,klue-sts-v1_dev_00002,1.285714,0,1.423625,0
3,klue-sts-v1_dev_00003,3.714286,1,4.011212,1
4,klue-sts-v1_dev_00004,2.500000,0,2.745483,0

In [11]:
# pearsonr score on the test data
pearsonr_test, _ = pearsonr(final_df.true_real_label.tolist(), final_df.predict_real_label.tolist())
print(pearsonr_test)

0.9265580137832097

In [12]:
# f1 score on the test data
f1score_test = f1_score(final_df.true_binary_label.tolist(), final_df.predict_binary_label.tolist())
print(f1score_test)

0.8588957055214723